## Prepare the virtual environment

In [ ]:
# !which python # using python2 from virtualenv
# !pip install pandas
# !pip install datetime
# !pip install scipy
# !pip install NumPy
# !pip install Matplotlib
# !pip install scikit-learn

## Import and loading in data

In [247]:
import json
import time
import copy
import math
import numpy as np
import pandas as pd
from datetime import datetime
from sklearn.preprocessing import normalize
from sklearn.neighbors import KNeighborsRegressor


# importing the csv data about the store sales, 906 stores with 11936 timestamps.
raw_csv = pd.read_csv('sales_granular.csv', index_col=0)

# importing the surroundings information about some 546 stores, each with 89 possible types of surroundings.
raw = json.load(open('Surroundings.json'))

# manual inspection of JSON file by writing a single item in the list to disk.
with open('extract.json', 'w') as outfile:
    json.dump(raw[0], outfile)

## Helper functions

In [248]:
def group_by_month(timestamp_str):
    """
    Groups the sparse timestamps of each store inside a monthly groupe. 
    This is relevant since the number of timestamps in not consistent across periods in a month.
    Furthermore more sophisticated models such as AMRA / ARIMA modeling require lag times of weeks or months.
    
    :param: timestam_str -> a string representing the hourly timestamp.
    :return: month_key -> the year-month timestamps which can be used for time-series analysis.
    """
    space_idx = timestamp_str.find(' ')
    parse_date_string = timestamp_str[:space_idx]
    
    date_datetime = datetime.strptime(parse_date_string, '%m/%d/%y')

    if len(str(date_datetime.month)) == 1:
        mm = '0' + str(date_datetime.month)
    else:
        mm = str(date_datetime.month)
        
    yyyy = str(date_datetime.year)
    
    month_key = '{0}-{1}'.format(yyyy, mm)
    return month_key

In [511]:
def get_series_stats(series, store_id):
    """
    Generates a dictionary of relevant statistics for a given time-series -like dataset.
    
    :param: series -> the monthly sales of a store.
    :param: store_id -> the unique identifier of a store.
    :return: dict -> a dictionary containing statistics about each store, identifiable by the store_id key.
    """
    sales_points_sum = 0
    sales_points_valid = []

    for _, val in enumerate(series):
        if math.isnan(val):
            continue
        else:
            sales_points_sum += val
            sales_points_valid.append(val)

    series_mean = float(sales_points_sum) / max(len(sales_points_valid), 1)
    series_stdev = max(round(math.sqrt(float(reduce(lambda x, y: x + y, map(lambda x: (x - series_mean) ** 2, sales_points_valid))) / len(sales_points_valid)), 2), 1)
    
    return dict({
        'mean': round(series_mean, 2),
        'months_of_data_count': len(sales_points_valid),
        'store_id': store_id,
        'total_products_sold': sales_points_sum,
        'stdev': series_stdev
        })

In [ ]:
def normalize_df(df):
    """
    Creates a normalized version of the dataframe used in training and testing.
    
    :param: df -> a pandas dataframe which is not normalized.
    :return: norml -> a pandas dataframe with normalized values between (0,1).
    """
    normalized_df = copy.deepcopy(df)
    norm1 = normalize(normalized_df, axis=0, norm='max')
    return(norm1)

In [527]:
# borrowed shamelessly from https://plot.ly/python/polygon-area/
def PolygonSort(corners):
    n = len(corners)
    cx = float(sum(x for x, y in corners)) / n
    cy = float(sum(y for x, y in corners)) / n
    cornersWithAngles = []
    for x, y in corners:
        an = (np.arctan2(y - cy, x - cx) + 2.0 * np.pi) % (2.0 * np.pi)
        cornersWithAngles.append((x, y, an))
    cornersWithAngles.sort(key = lambda tup: tup[2])
    return map(lambda (x, y, an): (x, y), cornersWithAngles)

def PolygonArea(corners):
    n = len(corners)
    area = 0.0
    for i in range(n):
        j = (i + 1) % n
        area += corners[i][0] * corners[j][1]
        area -= corners[j][0] * corners[i][1]
    area = abs(area) / 2.0
    return area

## example of area calculation below | as reference: https://www.mathsisfun.com/geometry/polygons-interactive.html
# plotting the points in this order: N, E, S, W
corners = [(2.2, 5.4), (5.4, 4.4), (4.7, 1.7), (1.4, 2.5)]
corners_sorted = PolygonSort(corners)
area = PolygonArea(corners_sorted)

In [ ]:
import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

def plot_monthly_series(monthly_series):
    """
    Creates the scatter plot of a time series for easy of exploration.
    """
    plt.plot(monthly_series)
    plt.show()

## Data Transformation

In [514]:
# aggregated all the sales data per month based on the column names.
# sorted key list now contains indices per corresponsing month, used later for plotting and regressions.
atomic_timestamps = list(raw_csv)

month_dict = {}

for idx, col_timestamp in enumerate(atomic_timestamps):
    current_month = group_by_month(col_timestamp)
    
    if month_dict.has_key(current_month):
        month_dict[current_month].append(idx)
    else:
        month_dict[current_month] = []
        month_dict[current_month].append(idx)

sorted_key_list = sorted(month_dict.keys())

store_id_list = list(raw_csv.index)


# generate a dictionary of store_id with their appropriate series values (interpretable by month)
store_dict = {}

for i in range(0, len(raw_csv.index)):
    monthly_series = []
    for _, key in enumerate(sorted_key_list):
        monthly_series.append(raw_csv.iloc[i][month_dict[key][0]:month_dict[key][-1]].sum(skipna=True))
        
    store_dict[store_id_list[i]] = monthly_series

## Create table of relevant statistics in a time-series manner

In [615]:
stats_df = pd.DataFrame(columns= ['store_id', 'total_products_sold', 'mean', 'stdev', 'months_of_data_count'])

for key in store_dict.keys():
    row_dict = get_series_stats(store_dict[key], key) 
    row_df = pd.DataFrame.from_records(row_dict, index=[0])[['store_id', 'total_products_sold', 'mean', 'stdev', 'months_of_data_count']]
    stats_df = pd.concat([stats_df, row_df])

stats_df.reset_index(drop=True, inplace=True)

result = stats_df.sort_values(['months_of_data_count', 'total_products_sold', 'stdev'], ascending=[0, 0, 1])

# preparing the surroundings data for analysis
amenities_array = raw[0]['surroundings'].keys()

column_names_amenities = copy.deepcopy(amenities_array)
column_names_amenities = ['store_id'] + column_names_amenities

full_feature_amenities_df = pd.DataFrame(columns = column_names_amenities, index=[0])

for _, surroundings_obj in enumerate(raw):
    
    amenities_feature_dict = {}
    store_id = surroundings_obj['store_code']
    amenities_feature_dict['store_id'] = store_id
    
    for _, key in enumerate(amenities_array):
        amenities_feature_dict[key] = len(surroundings_obj['surroundings'][key]) 
        
    feature_amenities_row = pd.DataFrame(data = amenities_feature_dict, columns = column_names_amenities, index=[0])
    
    full_feature_amenities_df = pd.concat([full_feature_amenities_df, feature_amenities_row])

full_feature_amenities_df = full_feature_amenities_df[1:]
full_feature_amenities_df.reset_index(drop=True, inplace=True)

## Preparing fitting and validation data sets

In [618]:
# select the store ids that are only in the surrounding dataset
ops_df = result.loc[result['store_id'].isin(full_feature_amenities_df['store_id'])]

# join on store_id key to append the total_products_sold
merged_df = pd.merge(full_feature_amenities_df, ops_df[['store_id', 'total_products_sold']], on='store_id')

# make sure no NA rows are present (same dataset with or without the drop, but it's good practice)
merged_df.dropna()

,store_id,subway_station,department_store,embassy,beauty_salon,police,courthouse,cemetery,pharmacy,local_government_office,...,zoo,train_station,jewelry_store,laundry,insurance_agency,plumber,pet_store,bakery,travel_agency,mean
0,10055,0,0,0,4,0,0,0,3,0,...,0,0,0,1,2,0,0,3,1,2252.00
1,10077,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,557.14
2,10079,0,1,0,4,0,1,0,3,1,...,0,0,4,2,2,0,0,3,2,18014.00
3,10086,0,0,0,2,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,5635.00
4,10111,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,3000.00
5,10377,0,2,1,14,0,0,1,5,3,...,0,0,50,0,0,0,0,12,14,6436.36
6,10441,0,1,0,16,0,0,0,5,6,...,0,1,6,2,3,0,1,6,9,11470.00
7,10545,0,0,0,7,1,0,0,4,1,...,0,1,2,0,2,0,0,4,3,2535.00
8,10548,0,0,0,7,0,0,0,3,1,...,0,0,3,0,3,0,0,5,3,6406.88
9,10672,0,0,0,0,0,0,0,1,2,...,0,1,0,0,1,0,0,4,0,4341.43
10,10814,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,1,7055.00
11,10820,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1525.00
12,10871,1,1,0,2,0,0,0,4,0,...,0,0,0,1,1,0,0,2,1,9022.00
13,10883,0,0,0,1,1,0,0,0,2,...,0,0,0,0,0,0,0,0,1,1650.00
14,10928,0,0,0,0,0,0,0,1,0,...,0,1,0,0,2,0,0,2,0,27388.42
15,10962,0,2,1,6,0,0,0,9,2,...,0,1,4,1,6,0,0,6,10,1923.75
16,10975,0,2,1,8,0,0,0,9,5,...,0,1,4,1,8,0,0,6,5,371.25
17,10992,0,1,0,27,0,0,0,8,6,...,0,0,15,3,8,0,0,5,12,450.00
18,11007,0,1,0,7,0,0,0,5,4,...,0,0,2,0,3,0,0,5,4,60.00
19,11013,1,1,1,2,0,0,0,4,0,...,0,0,0,2,1,0,0,2,1,1730.00
20,11028,0,1,0,23,0,0,0,8,7,...,0,0,14,3,8,0,0,4,12,31708.24
21,11028,0,1,0,25,0,0,0,8,7,...,0,0,14,3,10,0,0,5,12,31708.24
22,11233,0,0,0,2,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,360.00
23,11564,0,4,3,34,0,0,0,9,1,...,0,0,19,0,7,0,0,9,16,18220.00
24,11570,1,4,3,33,0,0,0,11,2,...,0,1,18,0,8,0,0,6,20,7854.00
25,11582,0,0,0,2,0,0,0,1,0,...,0,0,0,1,0,0,0,2,2,1473.75
26,11603,2,0,1,6,0,0,0,4,2,...,0,1,4,1,3,0,0,9,15,35828.00
27,11607,2,0,0,6,0,0,0,5,2,...,0,1,2,2,3,0,0,7,18,20594.00
28,11736,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,4215.00
29,11954,0,2,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,27611.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,36151,0,0,0,2,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,930.00
511,36154,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,385.71
512,3622,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2430.00
513,3626,0,0,0,5,1,0,0,1,1,...,0,0,2,0,0,0,0,2,1,225.00
514,3655,0,0,0,2,0,0,0,2,2,...,0,0,0,0,2,0,0,2,0,90.00
515,36570,0,0,0,2,1,0,0,1,1,...,0,0,0,0,0,0,0,0,1,735.00
516,36589,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,1012.50
517,36934,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,360.00
518,3745,0,0,0,2,0,0,0,1,0,...,0,1,0,0,2,0,0,1,1,30.00
519,39228,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,285.00
520,3933,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,60.00
521,3958,0,1,2,14,1,1,0,6,3,...,0,1,9,2,1,1,0,9,20,240.00
522,4013,0,0,0,1,0,0,0,1,2,...,0,0,0,0,0,0,1,0,0,420.00
523,4032,0,0,0,6,0,0,0,5,1,...,0,0,3,1,0,1,0,1,1,30.00
524,40407,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,756.00
525,4068,0,0,0,0,0,0,0,2,0,...,0,0,1,0,0,0,1,0,1,701.25
526,4069,0,0,0,0,0,0,0,2,0,...,0,0,1,0,0,0,1,0,1,954.55
527,425,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,135.00
528,4443,0,1,0,4,0,0,0,1,3,...,0,0,2,0,10,0,1,2,3,225.00
529,44781,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1300.00
530,4565,0,0,0,2,0,0,0,2,0,...,0,1,0,0,1,0,0,1,1,1938.75
531,45940,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,110.00
532,46147,0,0,2,1,0,0,0,0,0,...,0,0,0,0,0,1,0,2,2,366.00
533,46279,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2360.00
534,46361,0,0,0,2,0,0,0,0,0,...,0,1,0,0,1,0,0,0,2,85.00
535,46379,0,1,0,10,0,0,0,4,2,...,0,1,3,0,3,0,1,6,2,5790.00
536,46468,0,1,0,20,0,0,0,8,10,...,0,0,2,1,13,0,0,5,9,922.50
537,46587,0,0,0,1,2,0,0,1,0,...,0,0,1,1,2,0,0,3,1,304.29
538,46610,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,120.00
539,47724,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2676.00

## Start of cross validation implementation

In [619]:
# creating odd list of K for KNN
neigh_list = list(range(5,50))

# subsetting just the odd ones
neighbors = filter(lambda x: x % 2 != 0, neigh_list)

for _, weight_type in enumerate(['uniform', 'distance']):
    
    print('\n #### Starting with {} weight #### \n'.format(weight_type))
    
    for kn in neighbors:

        cross_validation_array = []

        for cv_iteration in range(0, 10):

            # sample random index numbers for splitting the dataset. Will go for 85% training and 15% testing.
            msk = np.random.rand(len(merged_df)) <= 0.80

            train_df = merged_df[msk]

            test_df = merged_df[~msk]

            training_fit_set_columns = [col for col in train_df.columns if col not in ['store_id', 'total_products_sold']]
            training_fit_df = normalize_df(train_df[training_fit_set_columns])
            training_target_df = train_df['total_products_sold']

            test_fit_set_columns = [col for col in test_df.columns if col not in ['store_id', 'total_products_sold']]
            test_fit_df = normalize_df(test_df[test_fit_set_columns])
            test_target_df = test_df['total_products_sold']

            # fit model 
            neigh = KNeighborsRegressor(n_neighbors=kn, weights=weight_type)
            neigh.fit(training_fit_df, training_target_df) 
            neigh.predict(test_fit_df)

            cross_validation_array.append(neigh.score(test_fit_df, test_target_df))


        avg_score = reduce(lambda x, y: x + y, cross_validation_array) / len(cross_validation_array)

        print('Average score for k equals {0} is {1}'.format(kn, avg_score))

 #### Starting with uniform weight ####

Average score for k equals 5 is -0.194352420766
Average score for k equals 7 is -0.138053833365
Average score for k equals 9 is -0.0252118615761
Average score for k equals 11 is -0.0759648269458
Average score for k equals 13 is -0.0613749297847
Average score for k equals 15 is 0.0662578735688
Average score for k equals 17 is -0.10738487293
Average score for k equals 19 is 0.0583482320596
Average score for k equals 21 is 0.023170033898
Average score for k equals 23 is -0.0595299120651
Average score for k equals 25 is 0.0404855796837
Average score for k equals 27 is 0.0432195067493
Average score for k equals 29 is -0.0223238668632
Average score for k equals 31 is 0.0295702696463
Average score for k equals 33 is -0.0353385274806
Average score for k equals 35 is -0.0320955750387
Average score for k equals 37 is -0.0258361596227
Average score for k equals 39 is -0.00501551074733
Average score for k equals 41 is 0.0294567210567
Average score for k equals 43 is 0.033689737538
Average score for k equals 45 is 0.0369045794901
Average score for k equals 47 is 0.0442567891807
Average score for k equals 49 is 0.0529786404383

 #### Starting with distance weight ####

Average score for k equals 5 is -0.118314482152
Average score for k equals 7 is -0.179645416467
Average score for k equals 9 is -0.14321628112
Average score for k equals 11 is -0.0671534734695
Average score for k equals 13 is -0.219213359521
Average score for k equals 15 is -0.120961702736
Average score for k equals 17 is -0.00945139733472
Average score for k equals 19 is 0.00381827278122
Average score for k equals 21 is 0.0474108552086
Average score for k equals 23 is -0.0142438488967
Average score for k equals 25 is -0.0249541638883
Average score for k equals 27 is 0.0872701201437
Average score for k equals 29 is 0.0627023559806
Average score for k equals 31 is 0.0629367020659
Average score for k equals 33 is 0.0486400629919
Average score for k equals 35 is 0.0269042652567
Average score for k equals 37 is -0.0292646375322
Average score for k equals 39 is 0.034176116537
Average score for k equals 41 is -0.00148951026282
Average score for k equals 43 is 0.101751738638
Average score for k equals 45 is 0.0317577882389
Average score for k equals 47 is 0.0678778372238
Average score for k equals 49 is 0.077095118702

## Impriving data for modeling

From here the aim is to try and improve the model by selecting stores with more historical monthly data.

This is attempted by filtering out the stores that have less than 12 months of data, irrelevant of when the sales were recorded.

The average number of periods in the full data set (for which there are surrounding information) is 9.

In [633]:
print("The mean number of periods for the dataset is: {0}".format(str(reduce(lambda x, y: x + y, result['months_of_data_count']) / len(result['months_of_data_count']))))

# filter out stores with less than 12 periods
trimmed_result_df = result.loc[result['months_of_data_count'] > 11]

amenities_array = raw[0]['surroundings'].keys()

column_names_amenities = copy.deepcopy(amenities_array)
column_names_amenities = ['store_id'] + column_names_amenities

full_feature_amenities_df = pd.DataFrame(columns = column_names_amenities, index=[0])

for _, surroundings_obj in enumerate(raw):
    
    amenities_feature_dict = {}
    store_id = surroundings_obj['store_code']
    amenities_feature_dict['store_id'] = store_id
    
    for _, key in enumerate(amenities_array):
        amenities_feature_dict[key] = len(surroundings_obj['surroundings'][key])  
        
    feature_amenities_row = pd.DataFrame(data = amenities_feature_dict, columns = column_names_amenities, index=[0])
    
    full_feature_amenities_df = pd.concat([full_feature_amenities_df, feature_amenities_row])

full_feature_amenities_df = full_feature_amenities_df[1:]
full_feature_amenities_df.reset_index(drop=True, inplace=True)

# select the store ids that are only in the surrounding dataset
ops_df = trimmed_result_df.loc[trimmed_result_df['store_id'].isin(full_feature_amenities_df['store_id'])]

# join on store_id key to append the total_products_sold
# merged_df = pd.merge(full_feature_amenities_df, ops_df[['store_id', 'total_products_sold']], on='store_id')
merged_df = pd.merge(full_feature_amenities_df, ops_df[['store_id', 'mean']], on='store_id')

# make sure no NA rows are present (same dataset with or without the drop, but it's good practice)
merged_df.dropna()

The mean number of periods for the dataset is: 9

,store_id,subway_station,department_store,embassy,beauty_salon,police,courthouse,cemetery,pharmacy,local_government_office,...,zoo,train_station,jewelry_store,laundry,insurance_agency,plumber,pet_store,bakery,travel_agency,mean
0,10055,0,0,0,4,0,0,0,3,0,...,0,0,0,1,2,0,0,3,1,2252.00
1,10079,0,1,0,4,0,1,0,3,1,...,0,0,4,2,2,0,0,3,2,18014.00
2,10441,0,1,0,16,0,0,0,5,6,...,0,1,6,2,3,0,1,6,9,11470.00
3,10548,0,0,0,7,0,0,0,3,1,...,0,0,3,0,3,0,0,5,3,6406.88
4,10871,1,1,0,2,0,0,0,4,0,...,0,0,0,1,1,0,0,2,1,9022.00
5,10928,0,0,0,0,0,0,0,1,0,...,0,1,0,0,2,0,0,2,0,27388.42
6,11028,0,1,0,23,0,0,0,8,7,...,0,0,14,3,8,0,0,4,12,31708.24
7,11028,0,1,0,25,0,0,0,8,7,...,0,0,14,3,10,0,0,5,12,31708.24
8,11564,0,4,3,34,0,0,0,9,1,...,0,0,19,0,7,0,0,9,16,18220.00
9,11570,1,4,3,33,0,0,0,11,2,...,0,1,18,0,8,0,0,6,20,7854.00
10,11603,2,0,1,6,0,0,0,4,2,...,0,1,4,1,3,0,0,9,15,35828.00
11,11607,2,0,0,6,0,0,0,5,2,...,0,1,2,2,3,0,0,7,18,20594.00
12,11954,0,2,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,27611.05
13,12249,0,1,0,1,0,0,0,1,1,...,0,1,0,0,1,0,0,0,1,2522.50
14,12267,0,0,5,25,0,0,0,6,3,...,0,0,9,3,7,0,0,12,13,7654.00
15,12340,0,0,0,5,0,0,0,6,2,...,0,1,5,0,4,0,1,4,2,11180.00
16,12474,0,0,0,2,0,0,0,5,0,...,0,0,1,2,0,1,0,0,1,6184.00
17,12836,0,1,0,4,1,0,0,2,1,...,0,1,0,0,6,0,0,2,2,3617.50
18,13175,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,5187.50
19,13427,0,0,0,0,0,0,0,1,0,...,0,1,2,0,0,0,0,1,2,2889.47
20,13743,0,0,0,0,0,0,1,2,0,...,0,0,0,2,2,0,0,3,1,6108.00
21,13794,0,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,3924.00
22,13798,0,0,0,3,1,0,0,3,0,...,0,0,2,0,3,0,0,3,0,5403.16
23,14609,0,3,0,1,0,0,0,1,0,...,0,1,2,0,0,0,0,1,0,12895.71
24,14666,0,1,0,9,1,0,0,4,4,...,0,1,2,1,7,0,0,5,5,8385.00
25,15157,0,3,2,30,1,0,0,10,1,...,0,1,18,2,4,1,1,12,38,7608.00
26,15205,0,0,3,5,0,0,0,3,3,...,0,0,0,6,0,0,0,5,3,4060.00
27,15256,0,1,1,13,1,0,0,7,3,...,0,2,9,1,1,1,1,11,24,9796.00
28,15605,0,0,0,0,0,0,0,1,0,...,0,0,2,0,0,0,0,0,1,3546.43
29,17344,0,0,0,3,0,0,0,2,0,...,0,0,1,1,0,0,1,1,3,21755.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,26709,0,1,7,26,1,0,0,6,2,...,0,0,24,3,1,0,0,8,12,546.43
57,27073,0,3,3,48,1,0,0,7,2,...,0,0,28,1,3,0,0,13,27,6272.14
58,27085,0,2,1,15,1,1,0,8,1,...,0,1,12,3,4,0,0,9,12,1727.50
59,27317,0,4,0,22,0,0,0,8,7,...,0,0,13,1,4,0,0,5,6,2898.46
60,27337,0,0,0,2,0,0,0,1,1,...,0,1,0,1,0,0,0,1,2,3882.50
61,27711,0,0,0,1,0,0,0,0,0,...,0,2,0,0,0,0,0,0,1,537.50
62,27790,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,990.00
63,28787,0,0,0,2,0,0,0,1,0,...,0,1,6,1,2,0,0,3,3,2985.00
64,29004,0,1,0,8,0,0,0,1,1,...,0,1,5,1,2,0,0,5,7,2286.43
65,29030,0,0,0,2,0,0,0,3,0,...,0,0,2,0,2,0,0,2,0,3705.00
66,29483,0,0,0,7,0,0,0,3,0,...,0,0,2,1,0,0,0,3,8,1887.86
67,29875,0,0,1,2,0,0,0,2,1,...,0,1,1,1,2,0,1,3,2,4842.00
68,29880,0,0,1,2,0,0,0,3,1,...,0,1,1,1,2,0,1,3,2,858.46
69,30006,0,1,1,27,0,0,0,1,0,...,0,0,3,0,10,0,0,1,7,452.14
70,30151,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,757.50
71,30182,0,0,0,2,1,0,0,1,0,...,0,1,1,0,2,0,0,1,1,5477.14
72,30283,0,4,2,13,0,0,0,4,10,...,0,0,14,1,1,0,0,6,6,1362.86
73,30440,0,1,1,36,0,1,0,3,0,...,0,0,31,1,6,0,0,3,16,3322.00
74,30472,0,0,0,2,0,0,0,1,0,...,0,0,0,1,2,0,0,0,1,1090.00
75,30478,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1236.92
76,30756,0,0,0,2,1,1,0,2,2,...,0,1,2,0,5,0,0,5,2,1090.00
77,30776,0,1,0,11,1,0,0,4,2,...,0,0,5,0,1,2,0,4,6,1260.00
78,30786,0,1,0,14,0,0,0,6,3,...,0,0,6,0,1,2,0,6,5,865.71
79,30864,0,0,0,0,0,0,0,0,2,...,0,2,0,0,0,0,0,0,1,3057.86
80,30995,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,759.23
81,31527,0,0,0,0,0,0,0,2,0,...,0,0,0,2,0,0,0,1,2,4332.86
82,31889,0,0,0,0,0,0,0,1,0,...,0,1,1,0,0,0,0,2,1,522.35
83,32077,0,0,0,2,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,3712.50
84,32418,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2880.00
85,32853,0,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,2935.00

## Fitting the model and checking results

In [634]:
# creating odd list of K for KNN
neigh_list = list(range(5,50))

# subsetting just the odd ones
neighbors = filter(lambda x: x % 2 != 0, neigh_list)

for _, weight_type in enumerate(['uniform', 'distance']):
    
    print('\n #### Starting with {} weight #### \n'.format(weight_type))
    
    
    for kn in neighbors:

        cross_validation_array = []

        for cv_iteration in range(0, 10):

            # sample random index numbers for splitting the dataset. Will go for 85% training and 15% testing.
            msk = np.random.rand(len(merged_df)) <= 0.8

            train_df = merged_df[msk]

            test_df = merged_df[~msk]

            training_fit_set_columns = [col for col in train_df.columns if col not in ['store_id', 'mean']]
            training_fit_df = normalize_df(train_df[training_fit_set_columns])
            training_target_df = train_df['mean']

            test_fit_set_columns = [col for col in test_df.columns if col not in ['store_id', 'mean']]
            test_fit_df = normalize_df(test_df[test_fit_set_columns])
            test_target_df = test_df['mean']

            # fit model 
            neigh = KNeighborsRegressor(n_neighbors=kn, weights=weight_type)
            neigh.fit(training_fit_df, training_target_df) 
            neigh.predict(test_fit_df)

            cross_validation_array.append(neigh.score(test_fit_df, test_target_df))


        avg_score = reduce(lambda x, y: x + y, cross_validation_array) / len(cross_validation_array)

        print('Average score for k equals {0} is {1}'.format(kn, avg_score))

 #### Starting with uniform weight ####

Average score for k equals 5 is -0.124385872636
Average score for k equals 7 is -0.880689475988
Average score for k equals 9 is -0.98025514951
Average score for k equals 11 is -0.214581600559
Average score for k equals 13 is 0.0445381946342
Average score for k equals 15 is -0.0731680079781
Average score for k equals 17 is -0.555506478091
Average score for k equals 19 is -0.175933727659
Average score for k equals 21 is -0.50362226427
Average score for k equals 23 is -0.0347896218253
Average score for k equals 25 is -0.0320273994911
Average score for k equals 27 is -0.0665850542877
Average score for k equals 29 is -0.171834917999
Average score for k equals 31 is -0.0875260040147
Average score for k equals 33 is -0.0593168476046
Average score for k equals 35 is -0.434162040461
Average score for k equals 37 is -0.157082375382
Average score for k equals 39 is -0.0851629371799
Average score for k equals 41 is -0.126894259696
Average score for k equals 43 is -0.171392763711
Average score for k equals 45 is -0.501797595261
Average score for k equals 47 is -0.380895796872
Average score for k equals 49 is -0.306771203699

 #### Starting with distance weight ####

Average score for k equals 5 is -5.61241083606
Average score for k equals 7 is -0.301048756474
Average score for k equals 9 is -0.107014063639
Average score for k equals 11 is 0.0351894613691
Average score for k equals 13 is -0.142393129872
Average score for k equals 15 is -0.822382648356
Average score for k equals 17 is -0.00517952593771
Average score for k equals 19 is -0.00277385460867
Average score for k equals 21 is -0.283703887553
Average score for k equals 23 is -0.400872049086
Average score for k equals 25 is -0.173479477345
Average score for k equals 27 is -0.0550876778055
Average score for k equals 29 is -0.00980203054441
Average score for k equals 31 is -0.24147030146
Average score for k equals 33 is -0.242234287518
Average score for k equals 35 is -0.106008842285
Average score for k equals 37 is -0.0874723472792
Average score for k equals 39 is -0.0972659473779
Average score for k equals 41 is -0.247742602175
Average score for k equals 43 is -0.0919360574282
Average score for k equals 45 is -0.0469629641156
Average score for k equals 47 is -0.110101535417
Average score for k equals 49 is -0.0883363997544

In [629]:
## next steps:
# Inspect the current dataset to see if there are any missing values in the total Numbers <> CHECK!
# Create test and training set + validation <> CHECK!
# Normalize the values per column (variable) between (0; 1). <> CHECK!
# Scale the Total sales by number of months taken into account and observe the difference to the model <> trimmed data with insufficient number of months

# if time allows (it's before 10:30) then inspect the other feature vectors. Include other feature vectors & vars (see how) and include map if possible.
## talk about it in the presentation only..

## extra option: make regression based on differences to cosine similarity to a benchmark, count of months and map area.